@charset "UTF-8";
* {
	outline:none;
}
header {
	margin: 0 auto;
}
header a {
	color: black;
	font-weight:bolder;
}
header a:hover{
	color : rgba(0,0,0,0.5);
}

#common {
	margin: 0 auto;
}

footer {
	margin: 0 auto;
}

#jck_dropdown{
	position : relative;
}

#jck_dropdown_content{
	display : none;
	position : absolute;
	background-color: #f9f9f9;
  	min-width: 120px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
 	text-align : center;
}

#jck_dropdown_content a{
	padding : 12px 16px;
	display : block;
}

#jck_dropdown:hover #jck_dropdown_content{
	display : block;
}

#jck_dropdown_content > a:hover{
	background-color : #0AC5A8;
	color : white;
}