<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace 는 dao에서 호출(접근) 할때 사용됨. -->
<mapper namespace="Companion">
	<resultMap type="Companion" id="resultCompanion">
		<!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="c_id" column="c_id" />
		<result property="c_value" column="c_value" />
		<result property="c_many" column="c_many" />
		<result property="c_view" column="c_view" />
		<result property="c_like" column="c_like" />
		<result property="c_adddate" column="c_adddate" />
		<result property="c_startd" column="c_startd" />
		<result property="c_endd" column="c_endd" />
		<result property="m_id" column="m_id" />
		<result property="c_dealstatus" column="c_dealstatus" />
		<result property="c_name" column="c_name" />
		<result property="c_description" column="c_description" />
		<result property="c_meet" column="c_meet" />
		<result property="c_address" column="c_address" />
	</resultMap>

	<resultMap type="CompanionAdd" id="resultCompanionAdd">
		<id property="c_id" column="c_id" />
		<result property="ca_img1" column="ca_img1" />
		<result property="ca_img2" column="ca_img2" />
		<result property="ca_img3" column="ca_img3" />
	</resultMap>

	<resultMap type="CompanionInfo" id="resultCompanionInfo">
		<id property="c_id" column="c_id" />
		<result property="m_id2" column="m_id2" />
		<result property="m_id" column="m_id" />
		<result property="c_name" column="c_name" />
		<result property="c_yn" column="c_yn" />
	</resultMap>

	<resultMap type="CompanionLike" id="resultCompanionLike">
		<id property="c_id" column="c_id" />
		<result property="m_id" column="m_id" />
	</resultMap>

	<resultMap type="CompanionMap" id="resultCompanionMap">
		<id property="c_id" column="c_id" />
		<result property="cm_id" column="cm_id" />
		<result property="c_xy" column="c_xy" />
	</resultMap>

	<resultMap type="CompanionTag" id="resultCompanionTag">
		<id property="c_id" column="c_id" />
		<result property="c_lid" column="c_lid" />
		<result property="c_sid" column="c_sid" />
	</resultMap>
	
	<resultMap type="Companion" id="resultFavorM">
		<id property="m_id" column="m_id" />
		<result property="m_email" column="m_email"/>
	</resultMap>

	<resultMap type="Companion" id="resultCountArea">
		<id property="c_id" column="c" />
	</resultMap>
	<!-- 동행글 등록 -->
	<insert id="insertC" parameterType="Companion" flushCache="true"
		statementType="PREPARED">
		insert into
		Companion(
		c_id,
		c_value, c_many, c_view,
		c_like,
		c_adddate, c_startd, c_endd,
		m_id,
		c_dealstatus, c_name,
		c_description, c_meet, c_address)
		values (
		companion_seq.nextval,
		#{c_value}, #{c_many}, 0, 0,
		CURRENT_TIMESTAMP, #{c_startd}, #{c_endd},
		#{m_id},
		'N', #{c_name},
		#{c_description},
		#{c_meet}, #{c_address})
	</insert>
	<insert id="insertCMap" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CompanionMap values (
		#{cm_id},#{c_id},
		#{c_xy}
		)
	</insert>
	<insert id="insertCTag" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CTag values (
		#{c_id},
		#{c_lid},
		#{c_sid}
		)
	</insert>

	<!-- 동행글 수정 -->
	<update id="updateCMap" parameterType="CompanionMap"
		flushCache="true" statementType="PREPARED">
		update companionmap
		set c_xy =#{c_xy}
		where c_id=#{c_id}
		and cm_id=#{cm_id}
	</update>

	<!-- 게시글 전체 개수 조회 -->
	<select id="listCountC" resultType="int" parameterType="string">
		select
		count(*) from companion
	</select>
	<select id="selectCmaxc_id" resultType="int">
		select max(c_id)
		from
		companion
	</select>

	<!-- 전체 게시글 조회 -->
	<select id="selectListCp" resultType="arraylist"
		resultMap="resultCompanion">
		select * from companion order by c_id desc
	</select>
	<!-- 검색한 게시글 조회 -->
	<!-- <select id="selectSearchC" parameterType="string" resultType="arraylist" 
		resultMap="resultCompanion"> select * from companion where c_name LIKE '%'|| 
		#{keyword} ||'%' OR c_description LIKE '%'|| #{keyword} ||'%' and c_id order 
		by c_id desc </select> -->
	<select id="selectSearchC" parameterType="string"
		resultType="arraylist" resultMap="resultCompanion">
		select * from companion where
		c_name
		LIKE '%'|| #{keyword} ||'%'
		OR c_description LIKE '%'|| #{keyword}
		||'%' order by c_id
		desc
	</select>
	<select id="totalSearchCountC" parameterType="string"
		resultType="int">
		select count(*) from companion where
		c_name LIKE '%'||
		#{keyword} ||'%'
		OR c_description LIKE '%'|| #{keyword} ||'%' and
		c_id=0
	</select>

	<!-- 게시글 상세 조회 -->
	<select id="selectOneC" parameterType="int"
		resultType="Companion">
		select * from companion where c_id=#{c_id}
	</select>
	
	<select id="selectTagC" parameterType="int"
		resultType="arraylist" resultMap="resultCompanionTag">
		select * from ctag where c_id=#{c_id}
		<!-- select c_sid from ctag where c_id = #{c_id} and c_lid = #{c_lid} -->
	</select>
	<select id="selectCmapCount" parameterType="int"
		resultType="int">
		select count(c_xy) from companionmap where c_id =#{c_id}
	</select>
	<select id="selectMapC" parameterType="Companion"
		resultType="string">
		select c_xy from companionmap where c_id=#{c_id} and
		cm_id=#{cm_id}
	</select>

	<!-- <update id="addReadCountC" parameterType="int" flushCache="true" statementType="PREPARED"> 
		update companion set c_view = c_view+1 where c_id=#{c_id} </update> -->

	<!-- 게시글 수정 -->
	<update id="updateOneC" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		update companion set
		c_name=#{c_name},
		c_description=#{c_description},
		c_value=#{c_value},
		c_many=#{c_many},
		c_meet=#{c_meet},
		c_startd=#{c_startd},
		c_endd=#{c_endd}
		where
		c_id=#{c_id}
	</update>
	<update id="updateMapC" parameterType="CompanionMap"
		flushCache="true" statementType="PREPARED">
		update companionmap set
		cm_id=#{cm_id},
		c_xy=#{c_xy}
		where c_id=#{c_id}
	</update>
	<update id="updateTagC" parameterType="CompanionTag"
		flushCache="true" statementType="PREPARED">
		update ctag set
		c_lid=#{c_lid},
		c_sid=#{c_sid}
		where c_id=#{c_id}
	</update>
	<!-- 동행글 삭제 -->
	<delete id="deleteC" parameterType="int" flushCache="true"
		statementType="PREPARED">
		delete  companion
		where
		c_id=#{c_id}
	</delete>
	<delete id="deleteCMap" parameterType="int" flushCache="true"
		statementType="PREPARED">
		delete  companionmap
		where
		c_id=#{c_id}
	</delete>
	<delete id="deleteCTag" parameterType="int" flushCache="true"
		statementType="PREPARED">
		delete  ctag
		where
		c_id=#{c_id}
	</delete>
	<delete id="deleteCInfo" parameterType="int" flushCache="true"
		statementType="PREPARED">
		delete  companioninfo
		where
		c_id=#{c_id}
	</delete>
	<delete id="deleteComLike" parameterType="int"
		flushCache="true" statementType="PREPARED">
		delete clike where 
		c_id =#{c_id}
	</delete>
	
	

	<!-- 동행글 추천/비추천 -->
	<insert id="insertCLike" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into clike
		values(#{c_id},#{m_id})
	</insert>
	<update id="updateCLikePlus" parameterType="int"
		flushCache="true" statementType="PREPARED">
		update companion set c_like = c_like+1
		where
		c_id =#{c_id}
	</update>
	<delete id="deleteCLike" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		delete clike where m_id =#{m_id} and
		c_id =#{c_id}
	</delete>

	<update id="updateCLikeMinus" parameterType="int"
		flushCache="true" statementType="PREPARED">
		update companion set c_like = c_like-1
		where c_id =#{c_id}
	</update>
	<select id="selectCLikeCount" parameterType="int"
		resultType="int">
		select c_like from companion where c_id=#{c_id}
	</select>
	<select id="selectCLikeMid" parameterType="Companion"
		resultType="int">
		select count(*) from clike where m_id = #{m_id} and
		c_id=#{c_id}
	</select>

	<!-- 동행 신청 -->
	<insert id="insertCInfo" parameterType="CompanionInfo"
		flushCache="true" statementType="PREPARED">
		insert into companioninfo
		values
		(#{c_id},#{m_id2},#{m_id}, #{c_name}, #{c_yn})
	</insert>


	<!-- <!조회수 증가 > <select id="selectCHotViewList" resultType="arraylist" resultMap="resultCompanion"> 
		select* from(select* from companion where c_id order by c_view desc) where 
		5 >= rownum </select> <select id="selectCAllCount" resultType="int"> select 
		count(*) from companion where c_id=0 </select> -->
	<!-- 조회수 증가 -->
	<update id="addCReadCount" parameterType="int"
		statementType="PREPARED" flushCache="true">
		update companion set c_view =
		c_view+1 where c_id = #{c_id}
	</update>
	<select id="selectCountarea" resultType="arraylist"
		resultMap="resultCountArea">
		select nvl(count(*),0)as c from ctag group by c_sid,c_lid having c_lid=1 order by
		c_lid
	</select>

	<select id="selectCountpeople" resultType="arraylist"
		resultMap="resultCountArea">
		select nvl(count(*),0)as c from ctag group by c_sid,c_lid having c_lid=2 order by
		c_lid
	</select>
	<select id="selectCounttendency" resultType="arraylist"
		resultMap="resultCountArea">
		select nvl(count(*),0)as c from ctag group by c_sid,c_lid having c_lid=3 order by
		c_lid
	</select>
	
	

	<!-- =========마이페이지 sql문============ -->
	<!-- 작성한 동행게시판 글 조회 -->
	<select id="My_selectCompanionlist" parameterType="string"
		resultType="arraylist" resultMap="resultCompanion" flushCache="true"
		statementType="PREPARED">
		select * from companion where m_id = #{m_id} order by c_adddate desc
	</select>

	<!-- 동행게시판 갯수 조회 -->
	<select id="My_selectCompanionCountAll" parameterType="string"
		resultType="int" flushCache="true" statementType="PREPARED">
		select count(*) from companion where m_id = #{m_id}
	</select>

	<!-- 동행 마감 -->
	<update id="My_updateCompanionEnd" parameterType="string"
		flushCache="true" statementType="PREPARED">
		update companion set c_dealstatus = 'Y' where c_id = #{c_id}
	</update>

	<!-- 동행 마감 취소 -->
	<update id="My_updateCompanionRe" parameterType="string"
		flushCache="true" statementType="PREPARED">
		update companion set c_dealstatus = 'N' where c_id = #{c_id}
	</update>

	<!-- 좋아요한 동행게시글 갯수 조회 -->
	<select id="My_selectLikeCompanionCountAll"
		parameterType="string" resultType="int" flushCache="true"
		statementType="PREPARED">
		select count(*) from companion where c_id in(select c_id from clike where
		m_id = #{m_id})
	</select>

	<!-- 작성한 동행게시판 글 조회 -->
	<select id="My_selectLikeCompanionlist" parameterType="string"
		resultType="arraylist" resultMap="resultCompanion" flushCache="true"
		statementType="PREPARED">
		select * from companion where c_id in(select c_id from clike where m_id =
		#{m_id})
	</select>

	<update id="My_updateCompanionLikeVal" parameterType="int"
		flushCache="true" statementType="PREPARED">
		update companion set c_like = c_like-1 where c_id = #{c_id}
	</update>
	
	<select id="selectOneCBy" parameterType="string"
		resultType="Companion">
		select a.* from (select * from companion where m_id=#{m_id} order by c_id desc) a where rownum = 1
	</select>
	
	<select id = "selectFavorML" parameterType="hashmap" resultType="arraylist" resultMap="resultFavorM">
		select m.m_id m_id, m.m_email m_email from member m inner join (select distinct m_id from favor where (c_lid = #{c_lid1} and c_sid = #{c_sid1}) or (c_lid = #{c_lid2} and c_sid = #{c_sid2}) or (c_lid = #{c_lid3} and c_sid = #{c_sid3})) m2 on m.m_id=m2.m_id
	</select>
</mapper>
