<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace 는 dao에서 호출(접근) 할때 사용됨. -->
<mapper namespace="Companion">
	<resultMap type="Companion" id="resultCompanion">
		<!-- property에는 vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="c_id" column="c_id" />
		<result property="c_value" column="c_value" />
		<result property="c_many" column="c_many" />
		<result property="c_view" column="c_view" />
		<result property="c_like" column="c_like" />
		<result property="c_adddate" column="c_adddate" />
		<result property="c_startd" column="c_startd" />
		<result property="c_endd" column="c_endd" />
		<result property="m_id" column="m_id" />
		<result property="c_dealstatus" column="c_dealstatus" />
		<result property="c_name" column="c_name" />
		<result property="c_description" column="c_description" />
		<result property="c_meet" column="c_meet" />
		<result property="c_address" column="c_address" />
	</resultMap>

	<resultMap type="CompanionAdd" id="resultCompanionAdd">
		<id property="c_id" column="c_id" />
		<result property="ca_img1" column="ca_img1" />
		<result property="ca_img2" column="ca_img2" />
		<result property="ca_img3" column="ca_img3" />
	</resultMap>

	<resultMap type="CompanionInfo" id="resultCompanionInfo">
		<id property="c_id" column="c_id" />
		<result property="m_id" column="m_id" />
		<result property="c_yn" column="c_yn" />
	</resultMap>

	<resultMap type="CompanionLike" id="resultCompanionLike">
		<id property="c_id" column="c_id" />
		<result property="m_id" column="m_id" />
	</resultMap>

	<resultMap type="CompanionMap" id="resultCompanionMap">
		<id property="c_id" column="c_id" />
		<result property="cm_id" column="cm_id" />
		<result property="c_xy" column="c_xy" />
	</resultMap>

	<resultMap type="CompanionTag" id="resultCompanionTag">
		<id property="c_id" column="c_id" />
		<result property="c_lid" column="c_lid" />
		<result property="c_sid" column="c_sid" />
	</resultMap>

	<!-- <resultMap type="CompanionReply" id="resultCompanionReply"> <id property="c_id" 
		column="c_id" /> <result property="" column="" /> <result property="" column="" 
		/> </resultMap> -->

	<!-- 게시글 등록 -->
	<!--<insert id="insertC" parameterType="Companion" flushCache="true" statementType="PREPARED"> 
		insert into Companion ( c_id, c_value, c_many, c_view, c_like, c_adddate, 
		c_startd, c_endd, m_id, c_dealstatus, c_name, c_description, c_meet, c_address 
		) values( companion_seq.nextval,4, #{c_value}, #{c_many}, 0, 0, SYSDATE, 
		#{c_startd}, #{c_endd}, 'Tworavel1', 'N', #{c_name}, #{c_description}, #{c_meet}, 
		#{c_address} ) </insert> -->
	<insert id="insertC" parameterType="Companion" flushCache="true"
		statementType="PREPARED">
		insert into
		Companion(
		c_id,
		c_value, c_many, c_view, c_like,
		c_adddate, c_startd, c_endd,
		m_id,
		c_dealstatus, c_name,
		c_description, c_meet, c_address)
		values (
		companion_seq.nextval,
		#{c_value}, #{c_many}, 0, 0,
		SYSDATE,
		#{c_startd}, #{c_endd},
		'Tworavel1', 'N', #{c_name},
		#{c_description},
		#{c_meet}, #{c_address})

	</insert>
	<insert id="insertCAdd" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CAdd values (
		#{c_id},
		#{ca_img1},
		#{ca_img2}, #{ca_img3}
		)
	</insert>

	<insert id="insertCInfo" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CompanionInfo values (
		#{c_id}, #{m_id}, #{c_yn}
		)
	</insert>

	<insert id="insertCMap" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CompanionMap values (
		#{cm_id},#{c_id},
		#{c_xy}
		)
	</insert>

	<insert id="insertCTag" parameterType="Companion"
		flushCache="true" statementType="PREPARED">
		insert into CTag values (
		#{c_id},
		#{c_lid},
		#{c_sid}
		)
	</insert>
	
		<select id="selectCmapCount" parameterType="int" resultType="int">
		
	select count(c_xy) from companionmap where c_id =#{c_id}
	</select>
   <select id="selectTwoC" parameterType="Companion"
     resultType="string">
      select c_xy from companionmap where c_id=#{c_id} and cm_id=#{cm_id}
   </select>
	
	
	
	<select id="selectCmaxc_id" resultType="int">
		select max(c_id)
		from Companion
	</select>
	<!-- 게시글 전체 개수 조회 -->
	<select id="listCountC" resultType="int" parameterType="string">
		select
		count(*) from companion
	</select>

	<!-- 전체 게시글 조회 -->
	<select id="selectListCp" resultType="arraylist"
		resultMap="resultCompanion">
		select * from companion order by c_id desc
	</select>

	<!-- 검색한 게시글 조회 -->
	<select id="selectSearchC" parameterType="string"
		resultType="arraylist" resultMap="resultCompanion">
		select* from companion where
		c_name LIKE
		'%'|| #{keyword} ||'%'
		OR c_description LIKE '%'|| #{keyword} ||'%' order by c_id
		desc
	</select>

	<!-- 게시글 상세 조회 -->
	<select id="selectOneC" parameterType="int"
		resultType="Companion">
		select * from companion where c_id=#{c_id}
	</select>
	

	<select id="selectThrC" parameterType="int"
		resultType="arraylist" resultMap="resultCompanionTag">
		select * from ctag where c_id=#{c_id}
	</select>
	
	<!-- 게시글 조회 수 증가 -->
	<update id="addReadCountC" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update companion set c_view = c_view+1 where
		c_id=#{c_id}
	</update>

	<!-- 게시글 수정 -->
	<update id="updateOneC" parameterType="Companion" flushCache="true"
		statementType="PREPARED">
		update companion set
		c_name=#{c_name},
		c_description=#{c_description},
		c_value=#{c_value},
		c_many=#{c_many},
		c_startd=#{c_startd},
		c_endd=#{c_endd}
		where c_id=#{c_id}
	</update>
	<update id="updateTwoC" parameterType="CompanionMap" flushCache="true"
		statementType="PREPARED">
		update companionmap set
		cm_id=#{cm_id}, 
		c_xy=#{c_xy}
		where c_id=#{c_id}
	</update>
	<update id="updateThrC" parameterType="CompanionTag" flushCache="true"
		statementType="PREPARED">
		update ctag set
		c_lid=#{c_lid},
		c_sid=#{c_sid}
		where c_id=#{c_id}
	</update>


	<!-- 게시글 삭제 -->
	<delete id="deleteC" parameterType="string" flushCache="true"
		statementType="PREPARED">
		delete from companion
		where
		c_id=#{c_id}
	</delete>

</mapper>
