<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="Gallery">
	<!-- property에 vo의 필드명 column에는 db테이블의 컬럼명 -->

	<resultMap type="Gallery" id="resultGallery">
		<id property="g_id" column="g_id" />
		<result property="m_id" column="m_id" />
		<result property="g_like" column="g_like" />
		<result property="g_content" column="g_content" />
		<result property="g_view" column="g_view" />
		<result property="g_img1" column="g_img1" />
		<result property="g_img2" column="g_img2" />
		<result property="g_img3" column="g_img3" />
		
		
		
		
	</resultMap>
	<!-- Final -->
	<select id="listCount" resultType="int">
		select count(*) from gallery
	</select>
	
	<select id="selectList" resultType="arraylist" resultMap="resultGallery">
		select g.g_id as g_id, g.m_id as m_id, g.g_like as g_like, g.g_content as g_content, g.g_view as g_view, 
		 d.g_img1 as g_img1, d.g_img2 as g_img2, d.g_img3 as g_img3 from gallery g join gadd d on g.g_id=d.g_id order by g.g_id desc
	</select>
	
	
	<!-- 게시글 삽입  -->
	<insert id="insertGallery" parameterType="Gallery" flushCache="true" statementType="PREPARED">
		insert into gallery values ((select nvl(max(g_id),0) from gallery)+1, #{m_id}, 0, #{g_content}, 0)
	</insert>
	
	
	<select id="selectGallery" parameterType="int"
		resultMap="resultGallery">
		select * from gallery where g_id=#{g_id}
	</select>
	<update id="updateGallery" parameterType="Gallery" flushCache="true" statementType="PREPARED">
	update gallery set g_content =#{g_content} where g_id =#{g_id}
	</update>
	<delete id="deleteGallery" parameterType="int" flushCache="true" statementType="PREPARED">
	delete gallery where g_id =#{g_id}
	</delete>

</mapper>


