<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.tworavel.model.domain.Member"
			alias="Member" />
		<typeAlias type="com.kh.tworavel.model.domain.Out"
			alias="Out" />
		<typeAlias alias="Board"
			type="com.kh.tworavel.model.domain.Board" />

		<typeAlias alias="Mapp"
			type="com.kh.tworavel.model.domain.Map" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/board-mapper.xml" />

		<mapper resource="mappers/map-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/out-mapper.xml" />
	</mappers>
</configuration>