@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
	border-collapse:collapsed;
	box-sizing:border-box;
	text-decoration:none;
}
#ICR_MyPage{
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	margin-bottom: 50px;
	
}
#ICR_profile_img{
	display: inline-block;
	width: 50%;
	height: 300px;
	float: left;
	text-align: right;
	padding-right: 50px;
}
#ICR_info{
	display: inline-block;
	width: 50%;
	height: 300px;
	padding-left: 60px;
	margin-top: 10px;
}
#ICR_hr{
	border-top-color: #0AC5A8;
	margin-top: 50px;
}
.ICR_my_img{
	width: 180px;
	height: 180px;
	display: inline-block;
	margin: 30px;
}
#ICR_modifyBtn{
	background: #2C3C5B;
	color: white;
	float: right;
}